<nav class="navbar">
    <div class="container">
      <!-- Logo -->
      <a routerLink="/" class="logo">The Garage</a>
  
      <!-- Navigation Links -->
      <ul class="nav-links">
        <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/garage" routerLinkActive="active">Garages</a></li>
        <li><a routerLink="/vehicle" routerLinkActive="active">My Vehicles</a></li>
        <li><a routerLink="/booking" routerLinkActive="active">My bookings</a></li>
      </ul>
    </div>
  </nav>
  